# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
.env

# MATLAB
*.asv
*.m~ 
*.mat
*.fig
*.slprj/
*.autosave/

# R
.Rhistory
.Rproj.user/

# GIS / large rasters
*.tif
*.tiff
*.gpkg
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.qgz
*.qgs

# Outputs & local data
/outputs/
/data/
